<div class="file-form">
  <h4 class="form-title">{{ isEditMode ? 'Edit File' : 'Add File' }}</h4>
  <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" class="form-container">
  
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Number</mat-label>
        <input matInput formControlName="number" required />
        <mat-error *ngIf="fileForm.get('number')?.hasError('required')">Number is required.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Entity Name</mat-label>
        <input matInput formControlName="entityname" required />
        <mat-error *ngIf="fileForm.get('entityname')?.hasError('required')">Entity name is required.</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="fileForm.get('name')?.hasError('required')">Name is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Upload PDF</mat-label>
        <input type="file" (change)="onFileChange($event)" accept="application/pdf" required />
        <mat-error *ngIf="fileForm.get('imageData')?.hasError('required')">File is required.</mat-error>
      </mat-form-field>
    </div>
  
    <button mat-stroked-button color="primary" class="submit-button" type="submit">
      <mat-icon>save</mat-icon>
      {{ isEditMode ? 'Update File' : 'Add File' }}
    </button>
  </form>
</div>
