<div class="atm-card-form">
  <h4 class="form-title">{{ isEditMode ? 'Edit File Card' : 'Add File Card' }}</h4>
  <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Number</mat-label>
        <input matInput formControlName="number" required />

        <mat-error *ngIf="fileForm.get('number')?.hasError('required')">Number is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Entity Name:</mat-label>
        <input matInput formControlName="entityname" required />

        <mat-error *ngIf="fileForm.get('entityname')?.hasError('required')">EntityName is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Description:</mat-label>
        <input matInput formControlName="description" required />

        <mat-error *ngIf="fileForm.get('description')?.hasError('required')">Description is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>File Name:</mat-label>
        <input matInput formControlName="name" type="text" required />

        <mat-error *ngIf="fileForm.get('name')?.hasError('required')">Name is required.</mat-error>
      </mat-form-field>

    </div>

    <div class="">
      <!-- <label for="imageData" class="form-label">File:</label> -->
      <input id="imageData" type="file" (change)="onFileChange($event)" class="form-input" placeholder="Upload File" />
      <div *ngIf="fileForm.get('imageData')?.invalid && fileForm.get('imageData')?.touched" class="error">
        File upload is required.
      </div>
    </div>    
    <button mat-stroked-button color="primary" class="submit-button" type="submit">
      <mat-icon>save</mat-icon>
      {{ isEditMode ? 'Update Card' : 'Add Card' }}
    </button>
    
  </form>
</div>

