
<div class="atm-list">
    <h4>Your File Cards!!</h4>
    <div class="card-container">
      <mat-card *ngFor="let card of fileCards" class="atm-card">
        <mat-card-header>
          <mat-card-title>{{ card.name }}</mat-card-title>
          <mat-card-subtitle><b>{{ card.number }}</b></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>EntityName: {{ card.entityname }}</p>
          <p>Description: {{ card.description }}</p>
        
        </mat-card-content>
        <mat-card-content>
        <div style="display: flex ; gap: 3px; margin-top: 8px;"><img width="20" height="20" style="padding-top: 2px;"  src="https://img.icons8.com/?size=100&id=13333&format=png&color=000000"/><a href={{card.imageData}}  download target="_blank">Download File</a> </div>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
           
            <button mat-stroked-button color="primary" class="submit-button" (click)="editCard(card)">Edit</button>
            <button mat-stroked-button color="warn" class="submit-button color-warn" (click)="deleteCard(card.number)">Delete</button>
            
        </mat-card-actions>
      </mat-card>
    </div>
</div>
